* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.body-js {
  background-image: linear-gradient(to right, rgba(16, 16, 17, 0.8), rgba(0, 1, 53, 0.452)),
    url(../img/1616592691_42-p-khaker-fon-47@2x.jpg);
}
.form-control {
  width: 400px;
  height: 60px;
  margin-top: 70px;
  border-style: none;
  border-radius: 10px;
  background-color: rgb(199, 212, 212);
  box-shadow: 10px 10px 20px rgb(153, 160, 151);
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.form-control:hover {
  background-color: rgb(205, 225, 241);
  box-shadow: 10px 10px 20px rgb(169, 243, 236);
}
.form-control:focus {
  background-color: rgb(205, 225, 241);
  box-shadow: 10px 10px 20px rgb(157, 218, 212);
}

.card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  color: #ffffff;
}

.card {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 26px;
  color: #ffffff;
}
.text {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;
  list-style: none;
  color: #ffdb64;
}
.card-js {
  display: block;
}

.card-js {
  margin-left: 30px;
}

.img-js {
  margin-top: 40px;
  border-radius: 10px;
}

.country-name {
  display: flex;
  align-items: flex-end;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 18px;
  list-style: none;
  color: #ffdb65;
}

.list-img {
  display: flex;
  margin-right: 20px;
  border-radius: 4px;
  margin-top: 30px;
}

.item-js {
  display: flex;
}
